.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#CONFIGURACIONES PERSONALIZADAS

application/logs/*.php

application/config/autoload.php
application/config/config.php
application/config/database.php
application/config/routes.php

#archivo de configuracion inicial si produccion o pruebas
/index.php

captcha/

#excluido archivo upload donde se suben las imagenes importante poner * porque si no pongo * no puedo hacer inclusiones
uploads/*

#excluir con excepcion de la carpeta 
!uploads/versiones
!uploads/version_desarrollo

#excluir subir el instalador con el jdk por que pesa mas de 100 mb en el git me genera problemas
instalador/codefac_setup.exe
